version: "3.9"

services:
  # ====================== USER SERVICE ======================
  user-service:
    build: ./user-services
    ports:
      - "5001:5001"
    env_file:
      - ./user-services/.env
    depends_on:
      - mongo
    networks:
      - backend

  # ====================== AUTH SERVICE ======================
  auth-service:
    build: ./auth-services
    ports:
      - "5005:5005"
    env_file:
      - ./auth-services/.env
    depends_on:
      - mongo
    networks:
      - backend

  # ====================== SCHEDULE SERVICE ======================
  schedule-service:
    build: ./schedule-services
    ports:
      - "5003:5003"
    env_file:
      - ./schedule-services/.env
    depends_on:
      - mongo
    networks:
      - backend

  # ====================== MEALS SERVICE ======================
  meals-service:
    build: ./meals-services
    ports:
      - "5002:5002"
    env_file:
      - ./meals-services/.env
    depends_on:
      - mongo
    networks:
      - backend

  # ====================== CHATBOT SERVICE ======================
  chatbot-service:
    build: ./chatbot-services
    ports:
      - "5004:5004"
    env_file:
      - ./chatbot-services/.env
    depends_on:
      - mongo
    networks:
      - backend

  # ====================== ADMIN SERVICE ======================
  admin-service:
    build: ./admin-services
    ports:
      - "5010:5010"
    env_file:
      - ./admin-services/.env
    depends_on:
      - mongo
    networks:
      - backend

  # ===================== FRIEND SERVICE ======================
  friend-service:
    build: ./friend-services
    ports:
      - "5006:5006"
    env_file:
      - ./friend-services/.env
    depends_on:
      - mongo
    networks:
      - backend
      
  # ====================== MONGO DB ======================
  mongo:
    image: mongo:6
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - backend

# ====================== NETWORKS & VOLUMES ======================
networks:
  backend:

volumes:
  mongo-data:
