version: "3.9"

services:
  gateway:
    build: ./gateway-services
    container_name: gateway
    ports:
      - "5000:5000"
    depends_on:
      - user-service
      - meal-service
      - schedule-service
      - chatbot-service
      - auth-service
      - friend-service
      - admin-service
    env_file:
    - ./gateway-services/.env


  user-service:
    build: ./user-services
    container_name: user-service
    ports:
      - "5001:5001"

  meal-service:
    build: ./meals-services
    container_name: meal-service
    ports:
      - "5002:5002"

  schedule-service:
    build: ./schedule-services
    container_name: schedule-service
    ports:
      - "5003:5003"

  chatbot-service:
    build: ./chatbot-services
    container_name: chatbot-service
    ports:
      - "5004:5004"

  auth-service:
    build: ./auth-services
    container_name: auth-service
    ports:
      - "5005:5005"

  mealscan-service:
    build: ./mealscan-services
    container_name: mealscan-service
    env_file:
      - ./mealscan-services/.env
    ports:
      - "5007:5007"
    depends_on:
      - admin-service

  scanai-service:
    build: ./scanai-services
    container_name: scanai-service
    ports:
      - "5008:5008"
    restart: always
    env_file:
    - ./.env
  admin-service:
    build: ./admin-services
    container_name: admin-service
    ports:
      - "5010:5010"
